<table>
<tr>
<th>First Name</th>
<th>Last Name</th>
<th>Vehicle name</th>
<th>Vehicle type</th>
<th>Vehicle brand</th>
</tr>
<?php foreach ($results as $result):?>
<tr>
  <td><?=$result['first_name']?></td>
  <td><?=$result['last_name']?></td>
  <td><?=$result['name']?></td>
  <td><?=$result['type']?></td>
  <td><?=$result['brand']?></td>
</tr>
<?php endforeach; ?>
</table>

<input type="text" id="user" placeholder="Enter first name of the owner">
<button id="find" onClick="findUser()">Find</button>
<div id="txtHint"><b>Cars info will be listed here...</b></div>

<script>
function findUser(){
  var user=document.getElementById('user').value;
  alert(user);

    var xmlhttp = new XMLHttpRequest();
    xmlhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
              
                document.getElementById("txtHint").innerHTML = this.responseText;
            }
        };
        xmlhttp.open("GET","/my_app_name/cars/"+user,true);
        xmlhttp.send();



}
</script>
