<h1>Blog articles</h1>
<table>
<tr>
<th>Id</th>
<th>FirstName</th>
<th>LastName</th>

</tr>

<?php foreach ($owners as $owner): ?>
<tr>
<td><?= $owner->id ?></td>
<td><?= $owner->first_name ?></td>
<td><?= $owner->last_name ?></td>
<td><?= $owner->name ?></td>
</tr>
<?php endforeach; ?>
</table>
